html {
  text-align: center;
  background-color: rgb(75, 70, 70);
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: lightgray;
}
table td {
  border: 1px solid black;
  padding: 5px 15px;
}
.header{
  color: lightgray;
}
#sortBtns{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 30%;
    margin-bottom: 1rem;  
}
.sortBtn{
  width: 100px;
}
td.contentCell {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  overflow: hidden;
}

.checkBtn {
  margin-right: 10px;
}

.deleteBtn {
  margin-left: auto;
  width: 50px;
  color: rgb(128, 6, 6);
}

.contentRow,
.contentTime {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

input#taskInput {
  width: 200px;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 0.5rem;
}
::placeholder{
  text-align: center;
  font-size: 1rem;
}
div.header {
  font-size: 2rem;
  font-weight: bold;
}

div.contentRow {
  font-size: 1.2rem;
}

div.contentTime {
  font-size: 0.9rem;
}
.gray {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}
td,
th {
  user-select: none;
}
input[type="button"] {
    cursor: pointer;
    /* width: 50px; */
    height: 20px;
    text-align: center;
    border-radius: 1rem;
}